.card {
  background: #fff;
  border-radius: 2px;
  height: 150px;
  margin: 1rem;
  position: relative;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  font-weight: normal;
}

.card a {
  color: #96b2cd;
  font-weight: bold;
  text-decoration: none;
}

.card.custom-card {
  background: none;
  border: 3px solid #96b2cd;
  box-shadow: none;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}
.card > .img-container > img {
  width: 100%;
  filter: grayscale(100%);
  transition: transform 0.25s;
}

.card > .img-container > img:hover {
  width: 100%;
  filter: grayscale(0%);
  scale: 1.02;
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
  box-sizing: border-box;
  width: 100%;
}

.card > .content > ul {
  list-style-type: none;
  padding: 5px;
  font-size: 22px;
}

.card > .content > ul > li {
  margin-top: 20px;
}
/* Not used */
/* .card > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
} */

/* .card > .remove:hover {
  color: #d50000;
} */
